<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel="icon" type="image/svg+xml" href="./media/favicon.svg">

    <title>Ken Fitzgerald - Portfolio</title>
</head>
<body>
    <div class="d-flex flex-md-column flex-row flex-shrink-0 bg-light navigation align-items-center">
        
        <ul class="nav nav-pills nav-flush flex-row flex-md-column mb-auto text-center">
            <li>
                <a href="#" class="nav-link py-2 my-auto link-secondary">
                    <i class="bi bi-house-door-fill" style="font-size: 32px;"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/fitzgeraldkd" class="nav-link py-2 my-auto link-secondary" target="_blank">
                    <i class="bi bi-github" style="font-size: 32px;"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kenneth-fitzgerald/" class="nav-link py-2 my-auto link-secondary" target="_blank">
                    <i class="bi bi-linkedin" style="font-size: 32px;"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id='rainbow-scroll'></div>
    <div class="body">
         
    <h3>
        Kenneth David Fitzgerald's Portfolio
    </h3>
    <div class="home-header body-text">
        I am building this Django web application to give myself a place to document and share the projects I have worked on. I am self-taught in programming and am most familiar with Python but have experience in HTML/CSS/JavaScript and SQL as well. I also have limited experience in Lua and PHP. The projects I've worked on have been opportunities for me to further my understanding of programming while also exploring another topic I'm interested in. Links to my LinkedIn and GitHub are also included if you wish to contact me. Thanks for taking a look!
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <!-- {% for project in projects %}
        <a href="{% url 'project-detail' project.pk %}" class="link-dark text-decoration-none">
            <div class="col mb-4">
                <div class="card">
                    <img src="{{ project.image.url }}" class="card-img-top" />
                    <div class="card-footer">
                        <h5 class="card-title" style="text-decoration:none;">
                            {{ project.title }}
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %} -->
    </div>
    </div>

</body>
</html>
