.navigation {
	position: fixed;
	left: 0px;
	top: 0px;
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	width: -webkit-fill-available;
	min-width: 100vw;
	max-width: 100vw;
	height: 4.5rem;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 3;
}

.nav-icon-text {
    position: relative;
    top: -8px;
}

.body {
	margin-top: 4.5rem;
	padding: 20px;
	max-width: 960px;
}

.carousel-image {
	max-height: 500px;
	max-width: 100%;
	height: fit-content;
	object-fit: contain;
}

.bi-devto {
    mask: url('./media/dev-badge.svg');
    -webkit-mask: url('./media/dev-badge.svg');
    mask-size: cover;
    -webkit-mask-size: cover;
    /* background: url('./media/dev-badge.svg');
    background-repeat: no-repeat;
    background-size: cover; */
    background: #000000;
    /* color: #000000; */
    display: inline-block;
    height: 37px;
    width: 32px;
}

.bi-devto:hover {
    /* color: #888888; */
    background: #888888;
}

.headshot {
	max-width: 200px;
	border-radius: 50%;
	box-shadow: 0 0 15px;
}

.headshot-container {
	/* display: inline-block; */
	text-align: center;
}

.helper {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.bio-container {
	/* display: inline-block; */
	text-align: justify;
}

.home-header {
	/* display: flex; */
}

.project-image-container {
	text-align: center;
}

.project-image * {
	max-width: 200px;
}

.divider {
	width: 100%;
	height: 3px;
	margin: 25px 0;
	box-sizing: border-box;
	border-radius: 50%;
}

.divider-mask {
	background-image: linear-gradient(to right, #fff, #dbe8f5, #fff);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 50%;
}

.project-header {
	margin-bottom: 10px;
}

.project-header span {
	vertical-align: middle;
}

.project-description {
	text-align: justify;
}

span.badge {
	border-width: 1px;
	border-style: solid;
}

.badge.badge-python {
	background-color: #3776ab;
	color: #ffd343;
	border-color: #ffd34333;
}

.badge.badge-django {
	background-color: #0C4B33;
	color: #ffffff;
	border-color: #ffffff33;
}

.badge.badge-javascript {
	background-color: #fcdc00;
	color: #000000;
	border-color: #00000033;
}

.badge.badge-jquery {
	background-color: #0769ad;
	color: #ffffff;
	border-color: #ffffff33;
}

.badge.badge-react {
	background-color: #282c34;
	color: #61dafb;
	border-color: #61dafb33;
}

.badge.badge-typescript {
	background-color: #3178c6;
	color: #ffffff;
	border-color: #ffffff33;
}

#rainbow-scroll {
	position: fixed;
	animation-name: scrolling;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: both;
	z-index: 5;
	/* transition-duration: 0.5s; */
	/* mobile */
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, fuchsia, brown, black, red);
	left: 0px;
	width: 100%;
	height: 1px;
	top: 4.5rem;
	background-size: 300px 2px;
}

@keyframes scrolling {
	0% {
		background-position: 0 0;
		transform: translateZ(0);
	}

	25% {
		background-position: 75px 0;
		transform: translateZ(0);
	}

	50% {
		background-position: 150px 0;
		transform: translateZ(0);
	}

	75% {
		background-position: 225px 0;
		transform: translateZ(0);
	}

	100% {
		background-position: 300px 0;
		transform: translateZ(0);
	}
}

@media only screen and (min-width: 768px) {
	.navigation {
		width: 4.5rem;
		min-width: 4.5rem;
		max-width: 4.5rem;
		height: 100vh;
		height: -webkit-fill-available;
		min-height: 100vh;
		max-height: 100vh;
	}

	.body {
		margin-left: 4.5rem;
		margin-top: initial;
	}

	.home-header {
		display: flex;
	}

	.headshot-container {
		display: inline-block;
	}
	
	.bio-container {
		margin-left: 25px;
	}

	.project-card {
		display: flex;
	}

	.project-details {
		margin-left: 25px;
	}

	#rainbow-scroll {
		background-image: linear-gradient(red, orange, yellow, green, blue, fuchsia, brown, black, red);
		left: 4.5rem;
		width: 1px;
		height: 100%;
		top: 0px;
		background-size: 2px 300px;
		/* position: fixed; */
	}

	@keyframes scrolling {
		0% {
			background-position: 0 0;
			transform: translateZ(0);
		}

		25% {
			background-position: 0 75px;
			transform: translateZ(0);
		}

		50% {
			background-position: 0 150px;
			transform: translateZ(0);
		}

		75% {
			background-position: 0 225px;
			transform: translateZ(0);
		}

		100% {
			background-position: 0 300px;
			transform: translateZ(0);
		}
	}
}
